<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title or metadata.title}}</title>
  <script async src="https://kit.fontawesome.com/f0afb61fe2.js" crossorigin="anonymous"></script>
  {% for set in site.fontSets %}
  <link data-dd-fontset="{{ set }}" rel="stylesheet" href="https://cdn.demaree.net/fonts/{{ set }}/index.css" type="text/css" />
  {% endfor %}
  {% if build.env == "production" %}
      {# Add any CSS from the main script #}
      {% viteLinkStylesheetTags "src/client/main.js" %}
      {% viteLinkModulePreloadTags "src/client/main.js" %}
  {% endif %}
</head>