<header class="site-header p-6 flex flex-wrap items-center gap-x-8 gap-y-4 md:text-lg">
  <a href="/" class="justify-self-start whitespace-nowrap flex items-center gap-2 text-ink-bold">
    <i class="fak fa-dd-logo-square fa-2x"></i>
    <span class="font-semibold">David Demaree</span>
  </a>
  <span class="mx-8 flex-1 hidden sm:block"></span>
  <nav>
    <ul class="flex flex-wrap gap-x-4 gap-y-2">
    {% for menuItem in site.menu %}{% if !menuItem.hidden %}<li>
      <a href="{{ menuItem.url }}" class="flex items-center gap-2 {% if active_nav === menuItem.identifier %}text-accent font-medium{% else %}text-ink-medium {% endif %}">
        {% if menuItem.icon %}<i class="fal fa-{{ menuItem.icon }}"></i>{% endif %}
        <span>{{ menuItem.text }}</span>
      </a></li>{% endif %}{% endfor %}
    </ul>
  </nav>
</header>