{% set theTitle = metadata.title or title | default("DD") %}

{% if override_title %}
<title>{{ override_title }}</title>
{% elseif metadata.title or title %}
<title>{{ metadata.title or title }} — David Demaree's web site</title>
{% else %}
<title>{{ theTitle }}</title>
{% endif %}