---
import type { CollectionEntry } from "astro:content";
import { format, formatISO } from "date-fns";
import Balance from "@/components/Balance.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, date, excerpt } = post.data;
const { Content, remarkPluginFrontmatter } = await post.render();
const { readingTime } = remarkPluginFrontmatter;

// Function to find out if a given date is more than a year ago
const isOlderThanAYear = (date: Date) => {
  const now = new Date();
  const year = 1000 * 60 * 60 * 24 * 365;
  return now.getTime() - date.getTime() > year;
};

const postIsShort = (minutes: number) => {
  return minutes <= 7;
};
---

<article class="contents">
  <header
    class="flex w-full max-w-[540px] flex-col gap-2 py-8 text-center [grid-column:2/-2]"
  >
    <h1 class="text-4xl/none font-medium">
      <a href={`/post/${post.slug}`} class="hover:underline">
        <Balance ratio={1}>{title}</Balance>
      </a>
    </h1>
    {
      excerpt && (
        <p class="text-dd-text-light text-xl/tight">
          <Balance ratio={0.7}>{excerpt}</Balance>
        </p>
      )
    }
    <div class="row gap-2 text-dd-text-light">
      <time>{format(date, isOlderThanAYear(date) ? "LLL d, y" : "LLL d")}</time>
      <span>•</span>
      <span>{readingTime.text}</span>
    </div>
  </header>
  {
    postIsShort(readingTime.minutes) && (
      <div class="prose prose-headings:font-['degular-variable'] font-['loretta-variable'] [font-weight:320] [grid-column:1/-1]">
        <Content />
      </div>
    )
  }
</article>
