<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__credit">
      {{/*  <?php if(!$isCompact) { ?>  */}}
      <div class="site-footer__logo">
        <i class="fak fa-dd-logo"></i>
      </div>
      <p>Made with <i class="fas fa-heart heart-icon"></i> by <b><a href="/">David Demaree</b></a></p>
      <p>&ldquo;Have courage, and be kind.&rdquo;</p>
    </div>

    {{/*  <?php if ( has_nav_menu( 'footer' ) ) {
      wp_nav_menu([
				'theme_location'  => 'footer',
				'menu_class'      => 'site-footer__nav-items',
				'container'       => 'nav',
				'container_class' => 'site-footer__nav',
				'container_aria_label' => 'Primary menu',
				'items_wrap'      => '<ul class="%2$s">%3$s</ul>',
				'fallback_cb'     => false,
				'echo' => true
			]);
    }
		?>  */}}
  </div>
</footer>