
<meta charset="utf-8" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://res.cloudinary.com" />
<style type="text/css">
  *[v-cloak] { display: none; }
</style>
<script src="https://kit.fontawesome.com/f0afb61fe2.js" crossorigin="anonymous"></script>

{{ $style := resources.Get "css/main.css" | resources.PostCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" />

<script src="https://cdn.usefathom.com/script.js" data-site="TOFIAIKB" data-included-domains="demaree.me" defer></script>