@import url("https://cdn.demaree.net/fonts/tiempos/fonts.css");
@import "./caps/roslindale-caps.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-hairline-dark: rgba(82, 82, 82, 1);
  --color-hairline-light: rgba(163, 163, 163, 1);

  --color-background-dark: rgba(23, 23, 23, 1);
  --color-background-light: rgba(249, 250, 251, 1);

  --color-text-dark-normal: rgba(214, 211, 209, 1);
  --color-text-dark-low-emphasis: rgba(163, 163, 163, 1);
  --color-text-dark-high-emphasis: rgba(255, 255, 255, 1);
  --color-text-dark-active: rgba(239, 68, 68, 1);
  --color-text-dark-code: rgba(56, 189, 248, 1);

  --color-text-light-normal: rgba(38, 38, 38, 1);
  --color-text-light-low-emphasis: rgba(82, 82, 82, 1);
  --color-text-light-high-emphasis: rgba(0, 0, 0, 1);
  --color-text-light-active: rgba(220, 38, 38, 1);
  --color-text-light-code: rgba(2, 132, 199, 1);

  --color-tweet-bg: rgba(255, 255, 255, 1);
  --color-tweet-active-dark: rgba(56, 189, 248, 1);
  --color-tweet-bg-dark: rgba(31, 41, 55, 1);
  --color-tweet-border-dark: rgba(55, 65, 81, 1);

  /* Defaults for named colors */
  --color-hairline: var(--color-hairline-light);
  --color-background: var(--color-background-light);
  --color-text-normal: var(--color-text-light-normal);
  --color-text: var(--color-text-normal);
  --color-text-low-emphasis: var(--color-text-light-low-emphasis);
  --color-text-high-emphasis: var(--color-text-light-high-emphasis);
  --color-text-active: var(--color-text-light-active);
  --color-text-code: var(--color-text-light-code);
}

@layer components {
  .theme-light {
    --color-hairline: var(--color-hairline-light);
    --color-background: var(--color-background-light);
    --color-text-normal: var(--color-text-light-normal);
    --color-text: var(--color-text-normal);
    --color-text-low-emphasis: var(--color-text-light-low-emphasis);
    --color-text-high-emphasis: var(--color-text-light-high-emphasis);
    --color-text-active: var(--color-text-light-active);
    --color-text-code: var(--color-text-light-code);
  }
  .theme-dark {
    --color-hairline: var(--color-hairline-dark);
    --color-background: var(--color-background-dark);
    --color-text-normal: var(--color-text-dark-normal);
    --color-text: var(--color-text-normal);
    --color-text-low-emphasis: var(--color-text-dark-low-emphasis);
    --color-text-high-emphasis: var(--color-text-dark-high-emphasis);
    --color-text-active: var(--color-text-dark-active);
    --color-text-code: var(--color-text-dark-code);
  }
}

@font-face {
  src: url("/fonts/Mona-Sans.woff") format("woff"),
    url("/fonts/Mona-Sans.woff2") format("woff2");
  font-family: "mona-sans";
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/SourceSerif4Variable-Roman.otf.woff2");
  font-family: "source-serif-4";
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/SourceSerif4Variable-Italic.otf.woff2");
  font-family: "source-serif-4";
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-text-normal;
}

@layer components {
  .dateline {
    @apply font-sans font-semibold tracking-wide uppercase;
  }
}

:where([data-theme="dark"]) .hb-line path {
  fill: white;
  stroke: white;
}

@layer components {
  .text-style-link-default {
    @apply font-serif font-medium;
    /* font-size: 1.25rem;
    font-family: "Ivar Text";
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none; */
  }

  .text-style-caption {
    @apply font-sans font-normal text-text-low-emphasis;
  }

  .text-style-dateline {
    @apply font-sans leading-none uppercase;
    font-weight: 570;
  }

  /* title font-bold [font-size:min(1.875rem,_15cqi)] @lg:[font-size:2.25rem] [font-variation-settings:'wdth'_120] tracking-[-0.03ch] leading-[1.025] */

  .text-style-title {
    --fv-width: 98;
    @apply leading-none font-sans md:[--fv-width:112];

    font-size: clamp(28px, 8vw, 44px);
    font-size: clamp(28px, 8cqi, 44px);
    font-weight: 640;
    font-variation-settings: "wdth" var(--fv-width);

    letter-spacing: -0.01em;

    &.text-style-title-sm {
      font-size: clamp(26px, 4.5vw, 36px);
      font-size: clamp(26px, 4.5cqi, 36px);
    }
  }

  .text-style-subtitle {
    font-size: 1.875rem;
    font-family: "Mona Sans";
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-inline-code {
    font-size: 1.125rem;
    font-family: "Recursive";
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-code-block {
    font-size: 1.125rem;
    font-family: "Recursive";
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-normal {
    font-size: 1.25rem;
    font-family: "Ivar Text";
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-tweet-dateline {
    font-size: 1rem;
    font-family: "Mona Sans";
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-tweet-user-name {
    font-size: 1.25rem;
    font-family: "Mona Sans";
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-tweet-normal {
    font-size: 1.125rem;
    font-family: "Mona Sans";
    font-weight: 400;
    font-style: normal;
    line-height: 137.5%;
    text-decoration: none;
    text-transform: none;
  }
  .text-style-tweet-mention {
    font-size: 1.125rem;
    font-family: "Mona Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 137.5%;
    text-decoration: none;
    text-transform: none;
  }
}
