@import '@fortawesome/fontawesome-svg-core/styles.css';
@import url('https://cdn.demaree.net/fonts/soehne/index.css');
@import url('https://cdn.demaree.net/fonts/ivar-text/index.css');
@import url('https://cdn.demaree.net/fonts/soehne-mono/index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wp--custom--content-width: theme('maxWidth.content');
    --wp--custom--wide-width:  theme('maxWidth.wide');
    --inset-x: clamp(1.5rem,2.7vw,2rem);
    --header-height: 5rem;

    @screen sm {
      --header-height: 4rem;
    }
  }

  body {
    @apply theme-light dark:theme-dark bg-surface text-ink;
    font-family: inherit;
  }
}

@layer components {
  .theme-light {
		--col-surface: theme('colors.white');
    --col-header: theme('colors.gray.10');
		--col-ink-base: theme('colors.gray.80');
		--col-ink-bold: theme('colors.black');
		--col-ink-medium: theme('colors.gray.60');
		--col-ink-light: theme('colors.gray.40');
		--col-primary: theme('colors.red.50');
	}

	.theme-dark {
    --col-surface: lch(12% 8 -88);
    --col-header: lch(6% 8 -88);
		--col-ink-base: theme('colors.neutral.100');
		--col-ink-bold: theme('colors.white');
		--col-ink-medium: theme('colors.neutral.400');
		--col-ink-light: theme('colors.gray.60');
    --col-primary: lch(68% 78 24);
    --col-primary: lch(68% 90 34);
		--col-accent: hsl(6deg 82% 58%);
    --col-buttons: lch(36% 30 -88);
	}
}
