@use "./fonts";
@use "./layout";

@layer _first, reset;

@layer tailwind.base {
  @tailwind base;
}

@layer tailwind.components {
  @tailwind components;
}

@layer tailwind.utilities {
  @tailwind utilities;
}

@layer tailwind.variants {
  @tailwind variants;
}

@layer baseline, patterns, utils, overrides;

@layer baseline {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: fonts.$sans;
    margin: unset;
    padding: unset;
  }
  a {
    color: var(--color-text-active);
    font-weight: 500;
  }
}

@layer baseline {
  :root {
    --svg-wavy-lines: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(2) rotate(170)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(273, 40%, 23%, 0)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='hsla(0, 0%, 0%, 0.48)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    --font-sans: #{fonts.$sans};
    --font-serif: #{fonts.$serif};
    --font-mono: #{fonts.$mono};

    --width-content: 45rem;
    --width-wide: 59rem;
  }

  :root {
    --color-hairline-dark: rgba(82, 82, 82, 1);
    --color-hairline-light: rgba(163, 163, 163, 1);

    --color-background-dark: rgba(23, 23, 23, 1);
    --color-background-light: rgba(249, 250, 251, 1);

    --color-text-dark-normal: rgba(214, 211, 209, 1);
    --color-text-dark-low-emphasis: rgba(163, 163, 163, 1);
    --color-text-dark-high-emphasis: rgba(255, 255, 255, 1);
    --color-text-dark-active: rgba(239, 68, 68, 1);
    --color-text-dark-code: rgba(56, 189, 248, 1);

    --color-text-light-normal: rgba(38, 38, 38, 1);
    --color-text-light-low-emphasis: rgba(82, 82, 82, 1);
    --color-text-light-high-emphasis: rgba(0, 0, 0, 1);
    --color-text-light-active: rgba(220, 38, 38, 1);
    --color-text-light-code: rgba(2, 132, 199, 1);

    --color-tweet-bg: rgba(255, 255, 255, 1);
    --color-tweet-active-dark: rgba(56, 189, 248, 1);
    --color-tweet-bg-dark: rgba(31, 41, 55, 1);
    --color-tweet-border-dark: rgba(55, 65, 81, 1);

    /* Defaults for named colors */
    --color-hairline: var(--color-hairline-light);
    --color-background: var(--color-background-light);
    --color-text-normal: var(--color-text-light-normal);
    --color-text: var(--color-text-normal);
    --color-text-low-emphasis: var(--color-text-light-low-emphasis);
    --color-text-high-emphasis: var(--color-text-light-high-emphasis);
    --color-text-active: var(--color-text-light-active);
    --color-text-code: var(--color-text-light-code);
  }
}

@layer patterns {
  .theme-light {
    --color-hairline: var(--color-hairline-light);
    --color-background: var(--color-background-light);
    --color-text-normal: var(--color-text-light-normal);
    --color-text: var(--color-text-normal);
    --color-text-low-emphasis: var(--color-text-light-low-emphasis);
    --color-text-high-emphasis: var(--color-text-light-high-emphasis);
    --color-text-active: var(--color-text-light-active);
    --color-text-code: var(--color-text-light-code);
  }
  .theme-dark {
    --color-hairline: var(--color-hairline-dark);
    --color-background: var(--color-background-dark);
    --color-text-normal: var(--color-text-dark-normal);
    --color-text: var(--color-text-normal);
    --color-text-low-emphasis: var(--color-text-dark-low-emphasis);
    --color-text-high-emphasis: var(--color-text-dark-high-emphasis);
    --color-text-active: var(--color-text-dark-active);
    --color-text-code: var(--color-text-dark-code);
  }
}

@layer patterns {
  :where(.unstyled-link) {
    @include fonts.unstyled-link();
  }

  .flex-image {
    img {
      object-fit: cover;
      min-height: 300px;
    }
  }

  .page-header {
    @include layout.topHeader();
  }
}

@layer utils {
  .hidden {
    display: block;
  }
  .contents {
    display: contents;
  }
  .object-cover {
    object-fit: cover;
  }
}
