---
layout: layouts/base.njk
---
<main>
<article class="dd-prose py-12 items-center">
  <header class="post-header text-center contents">
    <h1 class="dd-title w-full-inset">{{ display_title or title }}</h1>
    {% if subtitle or excerpt %}
    <p class="dd-subtitle deorphan w-full-inset max-w-prose-narrow">{{ subtitle or excerpt }}</p>
    {% endif %}
    <p class="mt-4 text-base text-ink-medium font-medium">{{ date | prettyDate }}</p>
  </header>
  {{ content | safe }}
  <i class="fak fa-dd-logo fa-2x text-ink-light"></i>
  {% set tagBan = ['featured', 'selected', 'posts', 'event', 'articles', 'notes'] %}
  {% if tags %}
  <div class="post-tags my-8 text-base flex flex-wrap gap-4">
    {% for tag in tags %}
      {% if tag not in tagBan %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a class="t-tag tag leading-none font-medium flex gap-2 items-baseline no-underline" href="{{ tagUrl | url }}">
          <i class="fal fa-tag fa-xs"></i>
          <span>{{ tag }}</span>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</article>
</main>