---
gridwrap: true
---
<!DOCTYPE html>
<html lang="en" class="bg-surface">
{% include "head.njk" %}
<body>
  <div class="bg-surface text-ink min-h-screen dd-page grid grid-rows-base">
  {% include 'header.njk' %}
  
  {% if gridwrap %}<div>{% endif %}
  {{ content | safe }}
  {% if gridwrap %}</div>{% endif %}
  
  <footer class="py-10 flex flex-col items-center text-ink-medium">
    <hr class="w-full-inset border-2 border-ink-light mb-6">
    <div class="w-full-inset text-center text-sm grid gap-2 grid-cols-1 sm:grid-cols-2">
      <div class="sm:text-left space-y-1">
        <p><b class="inline-block text-accent"><i class="fas fa-rss"></i></b> Subscribe to articles, notes, or everything</p>
        <p>Follow me on <a href="https://twitter.com/ddemaree" class="font-medium"><i class="fab fa-twitter fa-sm"></i> <span class="underline">Twitter</span></a></p>
      </div>
      <div class="sm:text-right space-y-1">
        <p>&ldquo;Have courage, and be kind.&rdquo;</p>
        <p>&copy; 2021 <a href="/" class="font-medium underline text-ink">David Demaree</a></p>
      </div>
    </div>
  </footer>
  
  </div>
{% include "footer-scripts.njk" %}
</body>
</html>