---
layout: layouts/base.njk
---
<main class="flex flex-col items-center">
  <section class="w-full-inset py-6 sm:py-10 max-w-7xl">
    {{ content | safe }}
  </section>

  <hr class="w-full-inset my-16 border-2 border-ink-medium">

  <section class="home home_section w-full-inset">
    <h2 class="dd-heading-2 font-sans-display text-3xl uppercase">Latest articles</h2>

  </section>
</main>