---
layout: layouts/base.njk
gridwrap: false
---
<main class="flex flex-col justify-center items-center">
  <section class="w-full-inset py-6 sm:py-10 max-w-7xl">
    {{ content | safe }}
  </section>
</main>