---
import Icon from "./Icon.astro";
import { faHeart } from "@fortawesome/free-solid-svg-icons"

---
<footer>
  <div class="site-footer__credit text-sm leading-snug">
    <p class="m-0">Made with <Icon wrapperClass="text-red-500" icon={faHeart} /> in New Jersey, U.S.A.</p>
    <p class="text-ink-medium m-0">&ldquo;Have courage, and be kind.&rdquo;</p>
  </div>
</footer>

<style>
  footer {
    color: var(--theme-text-light);
    max-width: var(--width--wide);
    padding-block: theme('spacing.8');
  }
</style>