---
// Component Imports
import { Image } from '@astrojs/image/components';
import BaseHead from '@components/BaseHead.astro';
import SiteHeader from '@components/SiteHeader.astro';
import BlogPostPreview from '@components/BlogPostPreview.astro';
import Footer from '@components/Footer.astro';
import Intro from "../content/intro.mdx";
import { getAllPosts } from '@lib/posts';

let title = "David Demaree's blog";
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

let allPosts = []

allPosts = await getAllPosts();
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
		<style is:global>
			.intro {
				> * + * {
					@apply mt-4;
				}

				h1, h2, h3 {
					@apply font-semibold;
					font-size: revert;
				}
			}
		</style>
	</head>

	<body>
		<SiteHeader />
		<div class="wrapper">
			<main class="content">
				
				<section class="intro mb-12 px-inset flex flex-col items-center">
					<Image src="/assets/dd-stitch-transparent.png" alt="Man wearing Stitch cap" width="320" aspectRatio="0.7" class="mb-4 w-[clamp(160px,50vw,200px)]" />
					<div class="intro text-2xl w-full max-w-content">
						<Intro />
					</div>
				</section>

				<section class="blog-posts w-minus-inset max-w-content mx-auto space-y-6 my-16" aria-label="Blog post list">
					<header>
						<h2 class="text-lg font-medium tracking-widest uppercase">Blog posts</h2>
					</header>

					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
			</main>
		</div>
		<Footer />
	</body>
</html>
