---
import SiteLayout from "@/components/SiteLayout.astro";

import { siteUrl } from "@/utils";
import { Stack } from "@components/Layout";
import MyLinks from "@components/MyLinks";
import Balance from "@components/Balance.astro";

import imgDavidStitch from "@/assets/dd-stitch-transparent.png";
import Text from "./_homeContent.mdx";
// import styles from "./styles.module.css";
import type { Metadata } from "@/types/metadata";
import { Image } from "astro:assets";

export const prerender = true;

const metadata: Metadata = {
  alternates: {
    canonical: siteUrl("/", true),
  },
};

import { HomeParagraph, Heading } from "@/components/Home";
const components = {
	p: HomeParagraph,
	h1: Heading,
	h2: Heading
};
---
<SiteLayout mainWrapper={false} metadata={metadata} showLinks={false}>
	<main></main>
</SiteLayout>

<style>
.fade-mask {
	mask-image: linear-gradient(
		to bottom,
		rgb(0 0 0 / 1),
		rgb(0 0 0 / 1) 72%,
		rgb(0 0 0 / 0) 88%,
		rgb(0 0 0 / 0)
	);
	z-index: -10;
	margin-bottom: -10%;
}
</style>