---
import PostCard from "@components/PostCard.astro";
import SiteLayout from "@components/SiteLayout.astro";
import { sortByDate } from "@lib/utils";
import { getAllPosts } from "@lib/wordpress/getAllPosts";
import wrapPost from "@lib/wordpress/wrapPost";
import { getCollection } from "astro:content";
import readingTime from "reading-time";
import rehypeParse from "rehype-parse/lib";
import { unified } from "unified";

const entries = sortByDate(await getCollection("blog"));

function getReadingTime(string) {
  // unified().use(rehypeParse).use() 
  // readingTime()
}

const posts = await fetch('https://wp2.demaree.me/wp-json/wp/v2/posts')
  .then(r => r.json())
  .then(posts => posts.map(p => wrapPost({...p, _rest: true})));

const seo = {
  title: "David Demaree's blog",
  description: "Writing about tech, business, culture, video games, and other stuff, probably"
}

---
<SiteLayout {...seo} mainClass="posts-main" section="blog">
  <header>
    <h1>Blog</h1>
  </header>

  {posts.map(post => <PostCard post={post} />)}
</SiteLayout>

<style lang="scss">
  @use "~/styles/layout";

  :global(.posts-main) {
    background-color: adjust-color($color: pink, $lightness: 5%);
    display: grid;
    row-gap: max(6vh, 8vw);
  }

  :global(.posts-main > *) {
    max-width: 780px;
  }

  :global(.site-layout-main) {
    padding-block: 5vw 10vw;
  }

  header {
    text-align: center;
    font-size: clamp(1.5rem, 8vw, 2.75rem);
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 0.08em 0.08em 0 black;
  }  
</style>

