---
import PostCard from "@components/PostCard.astro";
import SiteLayout from "@components/SiteLayout.astro";
import wp from "@lib/wordpress/rest";

const posts = await wp.getAllPosts();

const seo = {
  title: "David Demaree's blog",
  description: "Writing about tech, business, culture, video games, and other stuff, probably"
}

---
<SiteLayout {...seo} mainClass="posts-main" section="blog">
  <header>
    <h1>Blog</h1>
  </header>

  {posts.map(post => <PostCard post={post} />)}
</SiteLayout>

<style lang="scss">
  @use "~/styles/layout";

  :global(.posts-main) {
    background-color: adjust-color($color: pink, $lightness: 5%);
    display: grid;
    row-gap: 1rem;
  }

  :global(.posts-main > *) {
    max-width: 780px;
  }

  :global(.site-layout-main) {
    padding-block: 5vw 10vw;
  }

  header {
    text-align: center;
    font-size: clamp(1.5rem, 8vw, 2.75rem);
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 0.08em 0.08em 0 black;
    padding-bottom: calc(5vw - 1rem);
  }

  header h1 {
    font-weight: 700;
    font-size: 1.5em;
  }
</style>

