---
import { Image } from "@astrojs/image/components";
import imgDavidStitch from "../../content/images/dd-stitch-transparent.png";
---

<section class="@container/intro intro w-full max-w-4xl">
  <div
    class="flex flex-col items-center gap-x-[5cqi] gap-y-8 @3xl:flex-row @3xl:items-start justify-center"
  >
    <div class="w-[clamp(160px,30cqi,240px)] flex-shrink-0">
      <Image
        src={imgDavidStitch}
        alt="Man wearing Stitch cap"
        width="320"
        format="png"
      />
    </div>

    <div
      class="@container/intro-text w-full flex flex-col items-center leading-[1.25] font-mona-sans"
    >
      <div
        class="[font-size:clamp(22px,6cqi,31px)] max-w-[30ch] text-gray-500 [font-weight:450] [font-variation-settings:'wdth'_95]"
      >
        <p
          class="[font-size:162%] [font-weight:650] leading-none mb-[0.5em] text-gray-600 [font-variation-settings:'wdth'_87] [letter-spacing:-0.5px]"
        >
          <b class="text-black/80 [font-weight:725]">Hi, I’m David Demaree</b>, a web
          coder, writer, and photographer based in suburban NYC.
        </p>
        <p>
          This is my website where I write about tech, business, digital
          culture, and whatever else. I love good coffee, mechanical keyboards,
          Legos, my family, and my dog, not necessarily in that order.
        </p>
      </div>
    </div>
  </div>
</section>
