.wrapper {
  @apply h-20 items-center gap-8 px-inset;
  
  border-bottom: 1px solid var(--dd-col-divider, #444);
  box-shadow: 0 1px 0.5em #222;

  display: grid;
  grid-template-columns: auto 1fr auto;
}