---
import Date from './Date.astro';
import PostHeader from './PostHeader.astro';

export interface Props {
	title: string;
	subtitle?: string;
	date: string;
}

const { title, subtitle, date } = Astro.props;
---

<div class="layout">
	<article class="content">
		<PostHeader title={title} subtitle={subtitle} date={date} />
		<main class="prose prose-lg prose-grid font-serif prose-figcaption:font-sans">
			<slot />
		</main>
	</article>
</div>