---
export interface Props {
  post: object;
}

import PostDateline from '../components/PostDateline.astro'

const { post } = Astro.props
---
<article class="max-w-content">
<a href={post.url}>
  <h2 class="text-xl font-semibold leading-tight">{post.title}</h2>
  {post.description && <p class="font-serif text-lg leading-snug mt-1">{post.description}</p>}
  <PostDateline date={post.date} class="text-[0.875em] text-ink-medium font-medium uppercase tracking-wide mt-1" />
</a>
</article>