---
import Date from './Date.astro';

export interface Props {
	title: string;
	date: string;
}

const { title, date } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				{date && <p class="publish-date mt-2">
					<Date date={date} />
				</p>}
				<h1 class="title">{title}</h1>
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>

<script>

const iframeVids = document.querySelectorAll('.content figure > iframe')

iframeVids.forEach(iframe => {
	// iframe.style.display = 'none';
});

</script>

<style>
	.content {
		@apply text-lg;
		font-family: 'tiempos-text';
		margin-bottom: 8rem;
	}

	.content :global(:where(b, strong)) {
		color: var(--theme-text-bold);
		font-weight: 600;
	}

	.content :global(:where(img, video)) {
		max-width: 100%;
		height: auto;
		display: block;
		margin-inline: auto;
	}

	.content :global(:where(main > *, main astro-island > *)) {
		margin-block: 0;
		margin-inline: auto;
		max-width: var(--width-content);
		width: calc(100% - (2 * var(--spacing-inset)));

		&:first-child {
			margin-block-start: 0;
		}

		&:where(.align-wide, .size-wide, .size-large) {
			max-width: var(--width-wide);
		}
	}

	.content :global(:where(main > * + *, main blockquote > * + *)) {
		margin-top: 1.25rem;
	}

	.content :global(h2, h3, h4) {
		margin-top: 4rem;
		font-weight: 500;
	}

	.content :global(h2) {
		font-size: revert;
	}

	.content :global(:where(ul, ol)) {
		list-style-type: revert;
		list-style-position: outside;
		padding-inline-start: 2.5rem;

		:global(li + li) {
			margin-block-start: 0.5rem;
		}

		:global(::marker) {
			color: var(--theme-primary);
		}
	}

	.content :global(ul) {
		list-style-type: square;
	}

	.content :global(:where(blockquote)) {
		--padding-block: 1rem;
		--padding-inline: 1.25rem;
		--color: var(--theme-divider);
		
		background: transparent;
		border-left: calc(var(--padding-inline) / 4) solid var(--color);
		border-radius: 0;
		display: flex;
		flex-direction: column;
		padding-inline: var(--padding-inline);
	}

	.content :global(:where(hr)) {
		border-color: var(--theme-divider);
		border-width: 0.125rem;
		margin-block: 2.5rem;
		max-width: 18rem;
	}

	.content :global(:where(main > figure, main astro-island > figure)) {
		margin-block: 2rem;

		&:where(.size-wide, .size-full) {
			margin-block: 2.5rem;
		}
	}

	.content :global(main > .twitter-tweet) {
		margin-block: 2rem !important;
	}

	.content :global(:where(figcaption)) {
		@apply text-center text-sm font-sans mt-2;
		color: var(--theme-text-light);
		margin-inline: auto;
		max-width: var(--width-content);
		width: calc(100vw - (2 * var(--spacing-inset)));
	}

	.content :global(.block-embed) {
		position: relative;
		aspect-ratio: var(--embed-aspect-ratio, 16 / 9);

		:global(> iframe) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		padding-bottom: 2rem;
		margin-bottom: 2rem;
		/* border-bottom: 4px solid var(--theme-divider); */
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date {
		@apply font-sans;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 600;
	}
</style>
<style is:global>

.block-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.block-gallery .block-image {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: calc(50% - 1rem);
}

.block-gallery .block-image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	flex: 1 0 0;
	max-height: 24rem;
	object-position: var(--img-position-x, 50%) var(--img-position-y, 50%);
}

</style>
