---
import type { IconDefinition, SizeProp } from '@fortawesome/fontawesome-svg-core'
import clsx from 'clsx';
import '@fortawesome/fontawesome-svg-core/styles.css';
import { icon as faIcon } from '@fortawesome/fontawesome-svg-core'

export type Props = {
  icon: IconDefinition,
  class?: string,
  size?: SizeProp,
  style?: "rounded" | "circle" | "square",
	fixedWidth?: boolean;
	wrapperClass?: string
}

const { icon, size, class: className = '', style, wrapperClass, fixedWidth = false } = Astro.props;

let classes = [className];

if(size) {
  classes.push(`fa-${size}`);
}

if(fixedWidth) classes.push('fa-fw');

const [ html ] = faIcon(icon, { classes: clsx(classes) }).html

---
{html && <span class:list={['icon-wrapper', (style && `icon-wrapper-${style}`), wrapperClass]}>
  <Fragment set:html={html} />
</span>}

<style>
  .icon-wrapper-rounded {
    display: inline-block;
		font-size: 2.5rem;
		line-height: 1;
		position: relative;
    height: 1em;
    width: 1em;
	}

	.icon-wrapper-rounded:before {
		@apply bg-current;
    position: absolute;
		height: 1em;
		width: 1em;
		content: '';
		display: inline-block;
		border-radius: 0.18em;
	}

	.icon-wrapper-rounded :global(svg) {
		position: absolute;
		top: 0%;
		left: 0%;
		color: rgb(255 255 255 / 0.9);
		transform: scale(68%);
	}
</style>