---
import { DateTime } from 'luxon'

export interface Props {
  date: string,
  class?: string
}

const { date, class: className } = Astro.props;
const dateObj = DateTime.fromISO(date)
---

<div class={className}>
  <time dateTime={date}>
    {dateObj.toLocaleString(DateTime.DATE_FULL)}
  </time>
</div>