---
import c from '../lib/classnames.js'
const { class: className = '' } = Astro.props
const classString = c('prose prose-ivory dark:prose-ebony', className)
---
<div class={classString}>
  <slot />
</div>