---
import Icon from './Icon.astro';
import { faDDLogo } from '../lib/ddIcon';
---
<header class="h-16 sm:h-20 flex px-8 items-center">
	<a href="/" class="contents text-primary">
		<Icon icon={faDDLogo} style="rounded" />
		<span class="sr-only">David Demaree</span>
	</a>
</header>