---
import FontAwesomeIcon from './FontAwesomeIcon.jsx'
import ThemeSwitcher from '../components/ThemeSwitcher.svelte'
import MenuToggle from '../components/MenuToggle.svelte'
---

<div>
  <header class="site-header" role="banner">
    <div class="site-header__inner">
			<a href="/" class="site-header__logo [grid-column:left] flex items-center gap-3">
        <FontAwesomeIcon icon={['fak', 'dd-logo-square']} size="2x" />
				<span class="site-header__title">David Demaree</span>
			</a>

      <div class="site-header__menu-btn contents">
        <ThemeSwitcher client:visible />
        <MenuToggle class="farts" client:visible />
      </div>
    </div>
  </header>

  <main class="site-main" role="main">
    <slot />
  </main>
</div>

<style>
.site-header {
  height: var(--header-height);
}

.site-header__inner {
  @apply px-[var(--inset-x)];

  display: grid;
  align-items: center;
  grid-template-columns: [full-start left-start] minmax(0px, 30vw) [left-end center-start] minmax(0px, 30vw) [center-end right-start] minmax(0px, 30vw) [right-end full-end];
  height: var(--header-height, 4rem);
}

.site-header__logo {
  @apply text-accent relative z-30;
  justify-self: center;
}

.site-header__title {
  @apply sr-only sm:not-sr-only text-ink-bold font-sans leading-none font-semibold;
  font-size: 18px;
}

.site-header__menu-btn {
  justify-self: end;
  grid-column: menu;
}
</style>