.switch {
  --ts-size: 1.5rem;
  border-color: var(--ts-background);
  border-style: solid;
  border-width: 2px;
  border-radius: 9999px;
  background-color: var(--ts-background);
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}

.switch .option,
.switch::after {
   height: var(--ts-size);
   inline-size: 1.75rem;
}

.switch input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.option {
  align-items: center;
  border-radius: 9999px;
  color: var(--ts-inactive);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
}

.activeOption {
  color: var(--col--ink-bold);
}

.switch::after {
  background-color: var(--col--surface);
  border-radius: 9999px;
  display: block;
  content: '';
  left: 0rem;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
}

.switch--dark:after {
  transform: translateX(100%);
}