---

const { url } = Astro.props;
const requestUrl = `https://youtube.com/oembed?maxwidth=600&format=json&url=${encodeURIComponent(url)}`;

const payload = await fetch(requestUrl)
  .then(res => {
    if(res.status >= 400) throw new Error(`YouTube error: ${res.statusText}`)
    return res.json();
  })
  .catch(error => {
    return { error, html: "" }
  })

const { error, html } = payload;

---
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
  {html && <div class="wp-block-embed__wrapper">
    <Fragment set:html={html} />
  </div>}
</figure>
<style>
  .wp-block-embed {
    margin-inline: auto;
    max-width: 600px;
  }
  .wp-block-embed__wrapper {
    @apply relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
  }
  .wp-block-embed__wrapper :global(iframe) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>