{{ define "main" }}
{{ partial "posts/post_header.html" . }}
<div class="content-wrapper">
  {{ .Content }}
</div>

{{- if or .NextInSection .PrevInSection }}
<nav class="post-navigation post-navigation--single" aria-label="Post" role="navigation">
  <ul class="post-navigation__inner">
    {{ with .PrevInSection }}
    <li class="post-navigation__item previous-post">
      <a href="{{ .RelPermalink }}">
        <span class="post-navigation__icon"><i class="fas fa-arrow-left fa-lg"></i></span>
        <span class="post-navigation__label">Previously:</span>
        <span class="post-navigation__title">{{ .Title }}</span>
      </a>
    </li>
    {{ end }}
    {{ with .NextInSection }}
    <li class="post-navigation__item next-post">
      <a href="{{ .RelPermalink }}">
        <span class="post-navigation__icon"><i class="fas fa-arrow-right fa-lg"></i></span>
        <span class="post-navigation__label">Next:</span>
        <span class="post-navigation__title">{{ .Title }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}

<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
{{ end }}