---
layout: layouts/base.njk
permalink: /articles/index.html
active_nav: articles
---
<main>
  <header class="py-10 flex items-center justify-center">
    <h1 class="dd-title">Articles</h1>
  </header>

  <div class="w-full-inset max-w-2xl mx-auto space-y-10 pb-12">
  {% for article in collections.articles | reverse %}
  {% set description = article.data.excerpt or article.data.metadata.description %}
  <article class="flex flex-col-reverse xs-2:flex-row gap-4 sm:items-start">
    <a href="{{ article.url }}" class="flex flex-1 flex-col gap-2">
      <h2 class="dd-heading-2">{{ article.data.title }}</h2>
      {% if description %}<p>{{ description }}</p>{% endif %}
      <p class="text-sm font-medium">{{ article.date | prettyDate }}</p>
    </a>
    {% if article.data.thumbnail %}
    <a href="{{ article.url }}" class="xs-2:w-40">
      <img src="{% postThumbnail article.data.thumbnail %}" alt="" width="160" height="120" class="rounded-sm w-full object-cover" />
    </a>
    {% endif %}
  </article>
  {% endfor %}
  </div>
</main>