@import url("https://fonts.demaree.me/tiempos");
@import url("https://fonts.demaree.me/soehne");
@import url("https://fonts.demaree.me/soehne-mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import "./tokens/tokens.css";
@import "@wordpress/block-library/build-style/style.css";
 */

/* @layer components {
  .theme-light {
    --dd-col-background: 250 250 249;
    --dd-col-text: 41 37 36;
    --dd-col-bold-text: 12 10 9;
    --dd-col-light-text: 87 83 78;
    --dd-col-link: 216 44 52;
    --dd-col-code: 37 99 235;
    --dd-col-code-background: 241 245 249;
    --dd-col-dividers: 231 229 228;
    --dd-col-blockquote: 87 83 78;
    --dd-col-blockquote-border: 226 232 240;

    --dd-col-theme-menu-bg: theme("colors.stone.200");
    --dd-col-theme-menu-text: theme("colors.stone.950");
    --dd-col-theme-hover-bg: theme("colors.stone.500" / 0.1);
    --dd-col-theme-active-bg: theme("colors.red.600" / 0.4);
  }
  .theme-dark {
    --dd-col-background: 12 10 9;
    --dd-col-text: 204 201 199;
    --dd-col-bold-text: 245 245 244;
    --dd-col-light-text: 155 152 150;
    --dd-col-link: 255 84 81;
    --dd-col-code: 96 165 250;
    --dd-col-code-background: 15 23 42;
    --dd-col-dividers: 41 37 36;
    --dd-col-blockquote: 148 163 184;
    --dd-col-blockquote-border: 30 41 59;

    --dd-col-theme-menu-bg: theme("colors.stone.700");
    --dd-col-theme-menu-text: theme("colors.stone.50");
    --dd-col-theme-hover-bg: theme("colors.stone.100" / 0.1);
    --dd-col-theme-active-bg: theme("colors.red.600");
  }
} */

@layer components {
  .stack {
    @apply flex flex-col items-center justify-center gap-4;
  }
  .row {
    @apply flex flex-row flex-wrap items-center justify-center gap-4;
  }
}

// Custom tweet markup
@layer components {

  .theme-light {
    --tweets-background-color: oklch(97% 0.01 230.56);
    --tweets-border-color: oklch(82% 0.02 230.56);
    --tweets-author-name-color: currentColor;
    --tweets-content-color: currentColor;
    --tweets-author-handle-color: oklch(54% 0.06 230.56);
    --tweets-footer-color: oklch(54% 0.06 230.56);
    --tweets-date-color: var(--tweets-footer-color);
  }

  // oklch(61.68% 0.1169 230.56)
  .theme-dark {
    --tweets-background-color: oklch(20% 0.005 230.56);
    --tweets-border-color: oklch(30% 0.02 230.56);
    --tweets-author-name-color: currentColor;
    --tweets-author-handle-color: oklch(70% 0.06 230.56);
    --tweets-content-color: currentColor;
    --tweets-footer-color: oklch(70% 0.06 230.56);
    --tweets-date-color: var(--tweets-footer-color);
  }

  .dd-embed.dd-embed-tweet {
    @apply font-sans;
    background-color: var(--tweets-background-color);
    border-color: var(--tweets-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--tweets-border-radius, 0.5em);
    max-width: 600px;
    
    display: grid !important;
    column-gap: 1rem;
    grid-auto-flow: row;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: auto auto;
    line-height: 1.4;
    padding: 1em;
    row-gap: 1rem;

    * {
      margin: unset;
      font-weight: unset;
    }

    & > * {
      grid-column: 2 / -1;
      width: 100%;
    }

    & .tweet-header,
    & .tweet-header a {
      display: contents;
      color: inherit;
    }

    & .tweet-header {
      line-height: 1.2;
    }

    .tweet-author-img {
      clip-path: url(#squircleClip);
      align-self: start;
      grid-column: 1/2;
      grid-row: 1/-1;
      height: 4rem;
      width: 4rem;
    }

    .tweet-author-handle {
      font-size: 0.8em;
      font-weight: 400;
      color: var(--tweets-author-handle-color);
      display: block;
      margin-block-start: 0.1em;
    }

    .tweet-author-name {
      font-size: 1em;
      font-weight: 600;
      color: var(--tweets-author-name-color, currentColor);
    }

    .tweet-content {
      font-size: 1em;
      font-weight: 400;
      color: var(--tweets-content-color, currentColor);

      a {
        color: inherit;
      }
    }

    .tweet-footer {
      font-size: 0.8em;
      font-weight: 400;
      color: var(--tweets-footer-color, currentColor);
      margin-block-start: theme("spacing.6");
    }

    .tweet-date {
      color: var(--tweets-date-color);
      text-decoration: none;
      text-transform: uppercase; 
    }
  }
}