---
import Icon from "./Icon.astro";
import { faHeart } from "@fortawesome/free-solid-svg-icons"
import Bio from "./Bio.astro";
import MyLinks from "./MyLinks.astro";

export interface FooterOptions {
  showBio?: boolean;
  showLinks?: boolean;
}

export interface Props {
  showBio?: boolean;
  showLinks?: boolean;
}

const { showBio = true, showLinks = true } = Astro.props;
---
<footer class="site-footer">
  {showBio && <Bio />}
  {showLinks && <MyLinks />}

  <div class="site-footer-credit">
    <p>Made with <Icon wrapperClass="text-primary" icon={faHeart} /> in New Jersey, U.S.A.</p>
    <p>&ldquo;Have courage, and be kind.&rdquo;</p>
  </div>
</footer>

<style>
  .site-footer {
    container-name: footer;
    container-type: inline-size;
    display: grid;
    gap: min(7vw, 2.25rem);
    justify-items: center;
    padding-block: 2rem;
    max-width: var(--width-content);
    text-align: center;
  }

  .site-footer > *, .site-footer-bio > * {
    width: 100%;
  }



  .site-footer-credit {
    color: var(--color-text-low-emphasis);
    font-family: var(--font-serif);
    font-size: 0.875rem;
  }

  .site-footer-credit svg {
    color: var(--color-text-active);
  }
</style>