---
import SiteChrome from '../components/SiteChrome.astro'
import BaseHead from '../components/BaseHead.astro'
import Prose from '../components/Prose.astro'
import PostHeader from '../components/PostHeader.astro'
const { content } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <BaseHead title={content.title} permalink={content.url} />
  </head>

  <body>
    <SiteChrome>
      <PostHeader 
        title={content.title}
        date={content.date} />
      <Prose>
        <slot />
      </Prose>
    </SiteChrome>
  </body>
</html>